* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#spinner{
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 85px;
}

.country-dropdown{
  padding: 2px;
  border-radius: 5px;;
}


li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    border-bottom: 1px solid rgb(26, 25, 25);
    color: black;
    max-width: 1350px;
    
  }
  .navbar {
  position: fixed;

  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(10, 10, 10);
width: 100%;
    
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-item {
  margin-right: 30px;
}
.nav-link {
  font-size: 21px;
  color: white;
    font-weight: 400;
}
.nav-link:active{
  color: red;
}
.nav-link:hover {
    color: #482ff7;
}
.nav-logo {
    font-size: 25px;
    color: white;
    font-weight: 500;
}
/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }
  .light-theme {
    background-color: #ffffff; 
    color: #000000; }
  
  .dark-theme {
    background-color: #333333;
    color: #ffffff; }
  

  /* typewriter css */
  

  .typewriter-container {
    display: block;
    min-height: 90px;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 50px;
    margin: 50px 0px;
    padding-top: 30px;
text-align: center;
    white-space: nowrap;
    overflow: hidden;
  
  }
  

  
  /* cart newsitem css */
  #sourcename {
   position: relative;
    width: fit-content;
    background-color: rgba(226, 3, 3, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    left: -5px;
    margin-bottom: -27px;
  }
  
  .card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /* border: 1px solid rgb(228, 228, 228); */
  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
   background-color: #c73eb0;
  }
 .image img {
    width: 100%;
    height: 150px;
 }
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .publisdate,.author{
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px auto;
justify-items: center;
    max-width: 1350px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
  
 
/* btn container css next or previous */

.btncontainer{
    display: flex;
    flex-direction: row;
    max-width: 1350px;
    margin: 10px auto;
    justify-content: space-between;
    padding: 10px 50px;
}

.nextbtn{
    padding: 10px 30px;
    background-color: #d3a415;
    border: none;
    font-size: 15px;
    font-weight: 900;
    color: whitesmoke;
    border-radius: 10px;

}
.nextbtn:hover{
    background-color: chocolate;
}

.previousbtn{
    padding: 10px 30px;
    background-color: #d3a415;
    border: none;
    font-size: 15px;
    font-weight: 900;
    color: whitesmoke;
    border-radius: 10px;
}

.previousbtn:hover{

    background-color: chocolate;
}

.previousbtn:disabled, .nextbtn:disabled {
  background-color: #d3d3d3; 
  color: #a9a9a9; 
  cursor: not-allowed;
}
@media only screen and (max-width: 1150px){
   .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0px auto;
        max-width: 1350px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        }
        
  .typewriter-container{
    font-size: 45px;
  }

}
@media only screen and (max-width: 850px){
   .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px auto;
        max-width: 1350px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        }

}


@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
     top:-100%;
      left: 0;
      flex-direction: column;
      background-color: #ffffff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      padding: 10px 0px;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-link {
    color: #000000;
 
}
.nav-item{
  margin: 0;
  padding: 10px 0px;
}
.hamburger {
    display: block;
    cursor: pointer;
}
.nav-menu.active {
    top: 100px;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 643px){
   .parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px auto;
        max-width: 1350px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        }

              
  .typewriter-container{
    font-size: 30px;
  }


}
  
}